.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
  max-width: 880px;
  padding-top: 50px;
  padding-left: 0;
  margin: 0;
}
@media screen and (max-width: 960px) {
  .cards {
    grid-template-columns: 1fr;
    padding-top: 36px;
    -moz-column-gap: 0;
    margin: 0 0 50px;
    column-gap: 0;
  }
}
