.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5%;
  max-width: 880px;
}
@media only screen and (min-width: 544px) and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 3%;
  }
}
@media only screen and (max-width: 543px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 4% 50px;
  }
}
