.page {
    background-color: #000000;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  