.trash-btn {
  background: url(../../images/Trash.png);
  width: 21px;
  height: 19px;
  color: white;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  top: 10px;
  right: 10px;
  position: absolute;
}

.trash-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
