.header__logo {
  max-width: 173px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 544px) and (max-width: 1024px) {
  .header__logo {
    padding-left: 5%;
    max-width: 20%;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 543px) {
  .header__logo {
    margin: 0 0 32px 27px;
    max-width: 130px;
  }
}
