.edit-btn {
  height: 24px;
  width: 24px;
  margin: 0;
  background-color: black;
  background-image: url(../../images/Edit-Btn.png);
  border: none;
  padding: 0;
  position: absolute;
  top: 33%;
  right: 30%;
}
.edit-btn:hover {
  opacity: 0.6;
}
@media only screen and (min-width: 544px) and (max-width: 1024px) {
  .edit-btn {
    height: 24px;
    top: 63%;
    right: 15%;
  }
}
@media only screen and (max-width: 543px) {
  .edit-btn {
    top: 57%;
    right: 10%;
  }
}
