/* *{
  border: 1px solid red;
  

} */
/* Page */
.page {
    background-color: #000000;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    margin: 0 auto;
  }
  
  /* Header */
  .header {
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
  }
  
  .header__logo {
     max-width: 173px;
     margin-bottom: 40px;
  }
  
  .header__line {
    
    width: 100%;
    opacity: 0.7;
    border: 1px solid #545454;
  }
  
  /* Profile */
  .profile {
    display: flex;
    width: 100%;
    max-width: 880px;
    margin-bottom: 46px;
   
  }
  
  .profile__picture {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 35px;
    min-width: 168px;
    min-height: 120px;
  }
  .profile__data {
    display: flex;
   }
  .profile__info {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    

  }
  .profile__name {


    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    /* font-family: 'Inter'; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    margin: 0 0 16px
  }
  .edit__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 125px;
  }
  
  .profile__edit_btn {
    
    height: 24px;
    margin-top: 15px;
    margin-left: 18px;
  }
  
  .profile__text {
   
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;

  }
  
  /* Add Button */
  .add-btn {
    
  }

   /* Cards */
   .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5%;
    max-width: 880px;
    margin: 0 2%;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
  }
  
  .card__image {
    width: 100%;
   
  }
  .card__bottom-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 5%;

  }
  .card__title {
    
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color:black;
  }
  
  .card__like_btn{
    color: black;
  }

  .card__like {
    width: 21px;
    height: 19px;
    color: black;
  }

  .footer{
    display:flex;
    max-width: 880px;
    width: 100%;
    margin: 69px 0 60px;
  }
  .footer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    justify-self: flex-start;
  }
  

  @media only screen and (min-width: 544px) and (max-width: 1024px) {
    /* Your styles for tablets go here */
    .header__logo {
      padding-left: 5%;
      max-width: 20%;
      margin-bottom: 32px;
   }
    .profile {
      padding-left: 5%;
    
    }
    .profile__info {
      margin-top: 40px;
    }
    .profile__name {
      font-size: 32px;
    }

    .card__title {
      font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }

  
  }
  .form {
    display: none; /* Hide the form by default */
    position: fixed; /* Make the form fixed */
    top: 50%; /* Center the form vertically */
    left: 50%; /* Center the form horizontally */
    transform: translate(-50%, -50%); /* Translate the form to the center */
    background-color: white; /* Set the background color of the form */
    padding: 20px; /* Add some padding to the form */
    box-shadow: 0px 0px 10px #ccc; /* Add a shadow to the form */
    border-radius: 10px; /* Round the corners of the form */
  }

  .form__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .form__elements {
    
  }
  .form__username {

  }
  .form__info {
    margin-bottom: 20px; /* Add some margin at the bottom of each input field */
        /* padding: 10px; /* Add some padding to each input field */
        width: 100%; /* Make each input field 100% wide */
        border-radius: 5px; /* Round the corners of each input field */
        border: 1px solid #ccc; /* Add a border to each input field */
  } */
  /* .form__save_btn { */
    background-color: black; /* Set the background color of the save button */
        color: white; /* Set the text color of the save button */
        padding: 10px 20px; /* Add some padding to the save button */
        border-radius: 5px; /* Round the corners of the save button */
        border: none; /* Remove the border from the save button */
        cursor: pointer; /* Change the cursor to a pointer when hovering over the save button */
      
  }  */