.form__link-input {
  border: none;
  width: 100%;
  padding: 0 0 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 29px 0 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form__link-input::placeholder {
  color: black;
}
@media only screen and (min-width: 544px) and (max-width: 1024px),
  only screen and (max-width: 543px) {
  .form__link-input {
    padding: 0 0 9px;
  }
}
