.heart-off {
  width: 21px;
  height: 19px;
  color: black;
  background-image: url(../../images/like.png);
  background-color: inherit;
  border: none;
  position: absolute;
  bottom: 15%;
  right: 4%;
  top: 32%;
}

.heart-off:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (min-width: 544px) and (max-width: 1024px),
  only screen and (max-width: 543px) {
  .heart-off {
    bottom: unset;
  }
}
